@model sdtime.Security.ClaimsInfo

@{
    ViewBag.Title = "Register User";
}
<script src="../../Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var local = {
        CheckCWIdentity: function () {
            var namq = $("#ConnectwiseID");
            var emq = $("#cwemail");
            var name = namq.val();
            var email = emq.val();

            $.ajax({
                type: "POST", url: "/Api/FindMember",
                accepts: "application/json",
                data: { Name: name, EmailAddress: email },
                success: function (data) {
                    //debugger;
                    var res = data[0].Value;

                    if (res == null) {
                        alert('#FAIL');
                        return;
                    }
                    //debugger;

                    namq.val(res.MemberID);
                    emq.val(res.EmailAddress);
                },
                error: function (a, b, c) {

                }
            });
        }
    };
    
</script>

<h2 class="IntroTitle">Please register (one time only)... </h2>

<div class="display-field errormessage">
    @ViewBag.ErrorMessage
</div>

<fieldset>
    <legend>Login Info</legend>

    <div class="display-label">Provider Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdentityProviderName)
    </div>
    <div class="display-field" style="display:none;">
        @Html.DisplayFor(model => model.ProviderKey)
    </div>
    
    @using(Html.BeginForm("Submit", "RegisterUser", FormMethod.Post)) {
    <div class="display-label">Email Address: </div>
    <div class="display-field">
        @Html.EditorFor(model => model.EmailAddress)
    </div>
        
    <div>
        <span><h3>Please link your identity to your Connectwise account.  Connect with your username or email address below.</h3></span>
    </div>

    <div class="display-label">Connectwise Search Fields: </div>
    <div class="display-label">Username: </div>
    <div class="display-field">
        @Html.EditorFor(model => model.ConnectwiseID)

        
    </div>
    <div class="display-label">Email Address: </div>
    <div class="display-field">
        <input type="text" name="cwemail" id="cwemail" />
        <input type="button" value="Connect" onclick="javascript:local.CheckCWIdentity();" />
        
    </div>    
        



    <div class="display-field">
        <input type="submit" value="Register" />
    </div>

    }
</fieldset>

