<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SD Time</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
		<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" />
		<script src="//use.typekit.net/qxb6inn.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
        <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
        <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
        <script src="@Url.Content("~/Scripts/knockout-2.1.0.js")"></script>
        <script src="@Url.Content("~/Scripts/plugins.js")"></script>
        <script src="@Url.Content("~/Scripts/main.js")"></script>
		<script src="@Url.Content("~/Scripts/support/jquery-ui-1.10.0.custom.min.js")"></script>
		<script src="@Url.Content("~/Scripts/support/knockout.js")"></script>
		<script src="@Url.Content("~/Scripts/support/model/modelTicketNote.js")"></script>
		<script src="@Url.Content("~/Scripts/support/model/modelTicket.js")"></script>
		<script src="@Url.Content("~/Scripts/support/model/modelBucket.js")"></script>
		<script src="@Url.Content("~/Scripts/support/model/modelMember.js")"></script>
		<script src="@Url.Content("~/Scripts/support/model/modelClient.js")"></script>
		<script src="@Url.Content("~/Scripts/support/knockout-customBindings.js")"></script>
        
        <script>
            // Remove me
            var sd = {
                util: {
                    logError: function (message) {
                        $(".errordiv").text(message);
                    }
                }
            };

            $(document).ready(function (a, b) {
                //sd.util.logError("Test Error Message Area");
            });
        </script>
</head>

<body>

    @RenderBody()

	<script src="@Url.Content("~/Scripts/support/viewModel/viewModelSupport.js")"></script>
</body>
</html>
